<div fxLayout="row" fxLayoutAlign="end end">
  <button mat-raised-button color="primary" class="refresh" (click)="getAllVideos()">Refresh</button>
</div>
<h1 *ngIf="noVideos"></h1>
<div *ngFor="let video of videos; let i = index">
  <div fxLayout="row" fxLayoutGap="1.5%" *ngIf="i % 3 === 0" class="row">
    <mat-card fxFlex="31%" *ngIf="i < videos.length">
      <p>
        <iframe height="300" [src]='"https://www.youtube.com/embed/" + videos[i].id | safeUrl' frameborder="0" allowfullscreen></iframe>
      </p>
      <h3>{{ videos[i].title }}</h3>
    </mat-card>
    <mat-card fxFlex="33.33%" *ngIf="i + 1 < videos.length">
      <p>
        <iframe height="300" [src]='"https://www.youtube.com/embed/" + videos[i + 1].id | safeUrl' frameborder="0" allowfullscreen></iframe>
      </p>
      <h3>{{ videos[i + 1].title }}</h3>
    </mat-card>
    <mat-card fxFlex="33.33%" *ngIf="i + 2 < videos.length">
      <p>
        <iframe height="300" [src]='"https://www.youtube.com/embed/" + videos[i + 2].id | safeUrl' frameborder="0" allowfullscreen></iframe>
      </p>
      <h3>{{ videos[i + 2].title }}</h3>
    </mat-card>
  </div>
</div>
